<h4>Contributors</h4>

<ul>
  {{#each model as |contributor|}}
  <li>
    <div>
      <img src={{contributor.avatar_url}} alt="Avatar of {{contributor.login}}" height="64px">
    </div>
    <div>
      <a target="_blank" href={{contributor.html_url}}>
        {{contributor.login}}
      </a>
      has contributed
      {{contributor.contributions}}
      times
    </div>
  </li>
  {{/each}}
</ul>

{{outlet}}
